.image {
  &-s {
    width: 50px;
    height: auto;
    &.-square {
      height: 50px;
      object-fit: cover;
    }
  }
  &-m {
    width: 100px;
    object-fit: cover;
  }
  &-l {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    @media (max-width: 600px) {
      max-height: 200px;
      margin: 0 auto;
    }
  }
  &-bg {
    opacity: 0.8;
    width: 100%;
    height: auto;
    object-fit: cover;
    position: fixed;
    z-index: -1000;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
  }
  &.-opacity {
    opacity: 0.5;
  }
}
